<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>Udalo sie zalogowac</h1>

<div th:object="${user}">
    <p th:text=" | Zalogowany jako : ${user.email}|"></p>
    <p th:text="| Uprawnienia jako : ${user.type}|"></p>
</div>
<div>
    <a th:href="@{/login}">
        <button>Log out</button>
    </a>
    <span th:if="${isUser}"> <a> <button>Find your flight</button> </a></span>
    <span th:if="${!isUser}"> <a href="create"><button>Add new flight</button> </a></span>
    <a th:href="@{/all}">
        <button>Show all flights</button>
    </a>
</div>
</body>
</html>