<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" th:href="@{../styles.css}">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<header>
    <div th:class="head">
    <h1 id="booker">Welcome to Flightbooker</h1>
    </div>

</header>
<body>
<main class="main">
    <div class="reg">
        <span>Create new account for free</span>
        <form th:action="@{/registry}">
            <button> Create account</button>
        </form>
    </div>


    <div class="log">
        <form th:action="@{/log}" th:method="post" th:object="${user}">
            <label>Email: </label> <input th:field="${user.email}" type="email" required>
            <label>Password: </label> <input th:field="${user.password}" type="password" required>
            <button>Login</button>
        </form>
    </div>
    <div th:unless="${validEmail}" class="error">
        <p> Email does not exist ! Please try again or create new account ! </p>
    </div>
    <div th:unless="${validPassword}" th:class="error">
        <p> Your password is incorrect ! Please try again ! </p>
    </div>
</main>
</body>
</html>